{% extends 'base.html.twig' %}
    
{% block title %}
    {% set isEditMode = recipe is defined and recipe is not empty %}
    {% if isEditMode %}
        Modifier la recette : {{ recipe.recipeName }}
    {% else %}
        Créer une nouvelle recette
    {% endif %}
{% endblock %}
    
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/ingredient_popup.css') }}" />
        <link rel="stylesheet" href="{{ asset('styles/recipe_create.css') }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/json" id="recipe-data">
        {{ { 
            ingredients: ingredients, 
            ingredientsPerPage: ingredientsPerPage, 
            operations: operations,
            imagePath: asset('images/ingredients/'),
            existingRecipe: recipe is defined and recipe is not empty ? {
                id: recipe.id,
                recipeName: recipe.recipeName,
                recipePortions: recipe.recipePortions,
                recipeImg: recipe.recipeImg,
                recipeIngredient: recipe.recipeIngredient|map(ing => {
                    id: ing.id,
                    ingredientName: ing.ingredientName,
                    ingredientImg: ing.ingredientImg
                })|default([]),
                recipeQuantities: recipe.recipeQuantities|default('{}')|raw,
                recipeOperations: stepOperations|default('{}')|raw,
            } : null
        }|json_encode|raw }}
    </script>
    <script defer>
        document.addEventListener("DOMContentLoaded", function () {
            let script = document.createElement("script");
            script.src = "{{ asset('js/recipe_create.js') }}";
            script.type = "module";
            document.body.appendChild(script);
        });
        const recipeCreatePath = "{{ asset('js/recipe_create.js') }}";
    </script>
    {% if recipe is defined and recipe is not empty %}
        <script src="{{ asset('js/recipe_update.js') }}" defer type="module"></script>
        <pre>{{ dump('données de la recette', recipe) }}</pre>
        <pre>{{ dump('etapes de la recette', steps) }}</pre>
        <pre>{{ dump('les stepOps de la recette', stepOperations) }}</pre>
        {# <pre>{{ recipe|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}
    {% endif %}
{% endblock %}


{% block body %}
<div class="main-container">
    <div class="page-title">
        {% set isEditMode = recipe is defined and recipe is not empty %}
        {% if isEditMode %}
            <h1>Modifier la recette : {{ recipe.recipeName }}</h1>
            {% set action = path('recipe_update', {'id': recipe.id}) %}
        {% else %}
            <h1>Créer une nouvelle recette</h1>
            {% set action = path('recipe_create') %}
        {% endif %}
    </div>
    
    <a href="{{ path('app_recipe') }}" data-turbo="false"> << back to list</a>
    
    {{ form_start(form, {'action': action}) }}
        <div class="recipe-title">
            <div class="name-container" id="name-container">
                {{ form_row(form.recipeName) }}
            </div>
            <div class="portions-container">
                {{ form_row(form.recipePortions) }}
            </div>
            <div id="tags-container">
                {% for tag in form.recipeTags.vars.choices %}
                    {% if tags is defined and recipe is not empty %}
                        {% set isSelected = tag.value in tags|map(t => t.id) %}
                    {% else %}
                        {% set isSelected = false %}
                    {% endif %}
                    <button type="button" 
                        class="tag-button {% if isSelected %}selected{% endif %}"
                        data-id="{{ tag.value }}"
                        data-color="{{ tag.data.tagColor }}"
                        >
                        {{ tag.label }}
                    </button>
                {% endfor %}
            </div>
            <!-- Champ caché pour stocker les tags sélectionnés -->
            {{ form_widget(form.recipeTags) }}

            <!-- Champ pour l'image de la recette -->
            <div class="recipe-image d-flex justify-content-between">
                <div class="image-input d-flex flex-column">
                    <h3>Image de la recette</h3>
                    {{ form_widget(form.image) }}
                    {# <input type="hidden" name="remove_image" id="remove_image" value="0"> #}
                </div>
                <div class="image-preview" class="d-flex" id="image-preview">
                    {% set imgSrc = isEditMode and recipe is defined and recipe.recipeImg is not empty ? asset('images/recipes/' ~ recipe.recipeImg) : '' %}
                    <img src="{{ imgSrc }}" alt="Image de la recette" id="image-preview-img">
                    <button type="button" class="btn btn-danger" id="remove-image-button">X</button>
                </div>
            </div>
        </div>
        
        <div class="recipe-ingredients">
            <h3>Ingredients</h3>
            <button id="add-ingredient-button" type="button" class="btn btn-success">Add Ingredient</button>
            <!-- Pop-up pour choisir l'ingrédient -->
            <div id="ingredient-popup" class="popup" style="display: none;">
                <div class="popup-content">
                    <h2>Choose an Ingredient</h2>
                    <p><input type="text" id="ingredient-search" placeholder="Search for an ingredient"></p>
                    <div id="ingredients-list" class="ingredients-list">
                        <div id="ingredients-list" class="ingredients-list">
                            {% for ingredient in ingredients %}
                                <div class="ingredient-card" data-id="{{ ingredient.id }}" data-image="{{ ingredient.ingredientImg }}" data-name="{{ ingredient.ingredientName }}">
                                    <img src="{{ asset('images/ingredients/' ~ ingredient.ingredientImg) }}" alt="{{ ingredient.ingredientName }}" style="width: 100px;">
                                    <p>{{ ingredient.ingredientName }}</p>
                                </div>
                            {% else %}
                                <p>No ingredients found.</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="pagination-controls">
                        <button id="prev-page" disabled>Previous</button>
                        <span id="current-page-info"></span> <!-- Ajout pour afficher la pagination actuelle -->
                        <button id="next-page">Next</button>
                    </div>
                    <button id="close-popup" type="button">Close</button>
                </div>
            </div>
            <div id="ingredients-container">
                {{ form_row(form.selectedIngredients) }}
                <input type="hidden" id="result-ingredients" name="result-ingredients" value="[]">
            </div>
        </div>
        
        
        <div class="recipe-steps">
            <h3>Etapes</h3>
            <div id="steps" data-prototype="{{ form_widget(form.recipeSteps.vars.prototype)|e('html_attr') }}">
                <input type="hidden" name="all-selected-operations" id="all-selected-operations" value="[]">
                <!-- Pop-up pour choisir une opération -->
                <div class="operation-popup popup" style="display: none;" id="operation-popup">
                    <div class="popup-content">
                        <h5>Ajouter une opération</h5>

                        <!-- Liste des opérations -->
                        <select class="operation-select">
                            <option value="">Choisissez une opération</option>
                            {% for operation in operations %}
                                <option value="{{ operation.id }}">{{ operation.operationName }}</option>
                            {% endfor %}
                        </select>

                        <!-- Liste des ingrédients -->
                        <select class="ingredient-select">
                            <option value="">Choisissez un ingrédient</option>
                            {% for ingredient in ingredients %}
                                <option value="{{ ingredient.id }}">{{ ingredient.ingredientName }}</option>
                            {% endfor %}
                        </select>

                        <!-- Description du résultat -->
                        <input type="text" class="result-description" placeholder="(ex : Oignons ciselés)">

                        <button class="save-operation-button" type="button">Sauvegarder</button>
                        <button class="close-operation-popup" type="button">Fermer</button>
                    </div>
                </div>
                {% for step in form.recipeSteps %}
                    <div class="step-item" data-id={{ step.vars.data.id }} data-number={{ step.vars.data.stepNumber }}>
                        {% if step.vars.data.id is defined %}
                            <input type="hidden" name="recipe[recipeSteps][{{ loop.index0 }}][id]" value={{ step.vars.data.id + 0}}>
                        {% endif %}
                        {% if step.vars.data.stepNumber is defined %}
                            <input type="hidden" name="recipe[recipeSteps][{{ loop.index0 }}][stepNumber]" value={{ step.vars.data.stepNumber + 0}}>
                        {% endif %}
                        <div class="step-header">
                            <div class="step-indicator">
                                Étape {{ loop.index0 + 1 }}/{{ form.recipeSteps|length }}
                            </div>
                            <div class="step-remove">
                                <button type="button" class="remove-step btn btn-danger">X</button>
                            </div>
                        </div>
                        
                        <div id="recipe_recipeSteps_{{ loop.index0 }}" class="step-time-container">
                            <!-- Champ caché pour le texte de l'étape -->
                            <input type="hidden" id="recipe_recipeSteps_{{ loop.index0 }}_stepText" name="recipe[recipeSteps][{{ loop.index0 }}][stepText]" class="step-description-hidden">

                            <!-- Conteneur de la durée -->
                            <div class="step-time-frame">
                                <label class="step-time-label required" for="recipe_recipeSteps_{{ loop.index0 }}_stepTime">Durée de l'étape</label>
                                <input type="number"
                                    id="recipe_recipeSteps_{{ loop.index0 }}_stepTime"
                                    name="recipe[recipeSteps][{{ loop.index0 }}][stepTime]"
                                    required="required"
                                    min="1"
                                    step="1"
                                    class="step-time"
                                    value="{{ step.stepTime.vars.value|default(1) }}">
                            </div>

                            <!-- Conteneur de l'unité de temps -->
                            <div class="step-time-unit-frame">
                                <select id="recipe_recipeSteps_{{ loop.index0 }}_stepTimeUnit"
                                    name="recipe[recipeSteps][{{ loop.index0 }}][stepTimeUnit]"
                                    class="step-time-unit">
                                    <option value="minutes" {{ step.stepTimeUnit.vars.value == 'minutes' ? 'selected' : '' }}>Minutes</option>
                                    <option value="secondes" {{ step.stepTimeUnit.vars.value == 'secondes' ? 'selected' : '' }}>Secondes</option>
                                    <option value="heures" {{ step.stepTimeUnit.vars.value == 'heures' ? 'selected' : '' }}>Heures</option>
                                </select>
                            </div>

                            <!-- Conteneur de l'étape simultanée -->
                            <div class="step-simult-frame" style="display: none;">
                                <label class="step-simult-label" for="recipe_recipeSteps_{{ loop.index0 }}_stepSimult">Étape simultanée ?</label>
                                <input type="checkbox" id="recipe_recipeSteps_{{ loop.index0 }}_stepSimult"
                                name="recipe[recipeSteps][{{ loop.index0 }}][stepSimult]"
                                class="step-simult"
                                {% if step.vars.value.stepSimult %}checked{% endif %}>
                            </div>

                        </div>
                        
                        <hr class="step-time-hr"/>
                        <h5>Opérations sur les Ingrédients et descriptions</h5>
                        <div class="step-info-frame d-flex flex-row justify-content-between">
                            <div class="w-50 add-operation-frame"><button class="add-operation-button btn btn-primary" type="button">Ajouter une opération</button></div>
                            <div class="w-50 add-operation-desc">Ajoutez ici la description de l'étape.</div>
                        </div>
                        <!-- Div contenteditable pour l'utilisateur -->
                        <div class="step-frame d-flex flex-row justify-content-between">
                            <div class="step-operation w-50">
                            </div>
                            <div class="step-description w-50" contenteditable="true">
                                {{ step.stepText.vars.value|default('') }}
                            </div>
                        </div>
                        <div class="operations-container">
                            <div class="added-operations">
                                <input type="hidden" class="selected-operations" name="selected-operations" value="[]">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button id="add-step-button" type="button" class="btn btn-success">Add Step</button>
        </div>
        
        <button type="submit">Save Recipe</button>
    {{ form_widget(form.recipeSteps, {'attr': {'style': 'display:none; visibility: hidden'}}) }}
    {{ form_end(form) }}

    <!-- Popup de confirmation -->
    <div id="confirmation-popup" class="popup" style="display:none;">
        <div class="popup-overlay"></div>
        <div class="popup-content">
            <p id="confirmation-message"></p>
            <button id="confirm-delete" class="btn btn-danger">Confirmer</button>
            <button id="cancel-delete" class="btn btn-secondary">Annuler</button>
        </div>
    </div>
</div>
{% endblock %}
